# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log

# --- Vaadin & Frontend ---
# Node dependencies
node_modules/
# Vaadin generated frontend resources
src/main/frontend/generated/
src/main/dev-bundle/
src/main/bundles/
# Vaadin generated configuration files
vite.generated.ts
tsconfig.json
types.d.ts

# --- IDEs & Editors ---
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# --- OS System Files ---
.DS_Store
Thumbs.db

#ENV
.env

# --- Project Specific / Temporary Files ---
xenplan_debug.txt
Untitled

